/* TODO: Move text animation from top to middle */
.spilt {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: aquamarine;
}

p {
    font-family:'Barlow Semi Condensed', sans-serif;
}
    
.img-main {
    background-image: url(https://placeimg.com/1500/980/tech);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display:block;
    width: 100%;
    height: 100%;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

 .center {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 40%;
    height: 50%;
}

.wrapper
{ 
  padding: 20px;     
} 

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

.enter-btn
{
  float: left;
  margin: 75px 40px 0 40px;
  width: 130px;
  height: 60px;
  font: 13px/60px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
    letter-spacing: 1px;
  color: rgb(3, 3, 3);
  text-align: center;
  background: grey;
  border-radius: 3px;
  animation: shadow-pulse 1s 3;
  animation-delay: 3s;
}


h1 { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em; 
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 5s steps(21, end), blink-caret .5s step-end infinite alternate;
}

@-webkit-keyframes typing { from { width: 0; } };
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } };
 
